.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-page-b-color-white-opacity95);
  z-index: 1000;
  transition: all 0.3s ease;

  &.scrolled {
    background: var(--main-page-b-color-white-opacity98);
    box-shadow: 0 0.01vw 1vw rgba(0, 0, 0, 0.1);

    & .container {
      padding: 0.6vw 0;
    }
  }
}

.container {
  max-width: 65vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.85vw 0;
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;

  span {
    font-size: 1.1vw;
    color: var(--main-page-b-color-darkGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  strong {
    color: var(--main-page-b-color-lightBlue);
    font-weight: var(--font-weight-black);
  }
}

.nav {
  display: flex;
  gap: 2vw;
  z-index: 99999;

  a {
    display: flex;
    align-items: center;
    font-size: 0.75vw;
    color: var(--auto-page-color-darkGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-smallStrong);
    line-height: var(--font-lineh-small);
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.4vw 0;
    position: relative;
    gap: 0.25vw;

    &:hover {
      color: var(--auto-page-orange);
      opacity: 0.7;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.1vw;
      background: var(--auto-page-orange);
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  & .linkToPhone {
    display: flex;
    align-items: center;
    font-size: 0.75vw;
    color: var(--auto-page-lightBlue);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
    cursor: pointer;
    gap: 0.25vw;
    transition: 0.3s ease-in-out;

    & .iconPhone {
      width: 0.85vw;
      height: 0.85vw;
    }

    &:hover {
      color: var(--auto-page-lightBlue);
    }

    &::after {
      height: 0vw;
    }
  }
}

.iconBlockPhone {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    &.scrolled {
      box-shadow: 0 0.01vw 1vw rgba(0, 0, 0, 0.1);

      & .container {
        padding: 2vw 0;
      }
    }
  }

  .container {
    padding: 2.5vw 0;
    max-width: 95vw;
  }

  .logo {
    span {
      font-size: 3vw;
    }
  }

  .nav {
    display: flex;
    gap: 4vw;

    a {
      font-size: 1.8vw;
      padding: 0.75vw 0;
      gap: 1vw;

      &::after {
        height: 0.25vw;
      }
    }

    & .linkToPhone {
      font-size: 1.8vw;
      gap: 0;

      & .iconPhone {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    background: var(--main-page-b-color-white);
    flex-direction: column;
    align-items: flex-start;
    padding: 10vw 5vw;
    gap: 2vw;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: -0.1vw 0 1vw rgba(0, 0, 0, 0.1);

    &.navOpen {
      transform: translateX(0);
    }

    a {
      font-size: 1.8vw;
      color: var(--auto-page-color-darkGrey);
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);
      padding: 1.2vw 0;
      gap: 1vw;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.25vw;
      }
    }
  }

  .iconBlockPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35vw;
    border: 0.1vw solid var(--auto-page-lightBlue);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;

    & .iconPhone {
      width: 2vw;
      height: 2vw;
      color: var(--auto-page-lightBlue);
    }
  }
}

@media (max-width: 576px) {
  .header {
    &.scrolled {
      box-shadow: 0 0.01vw 1vw rgba(0, 0, 0, 0.1);

      & .container {
        padding: 3vw 0;
      }
    }
  }

  .container {
    max-width: 90vw;
    padding: 5vw 0;
  }

  .logo {
    span {
      font-size: 5vw;
    }
  }

  .nav {
    height: 100vh;
    width: 50vw;
    padding: 15vw 6vw;
    gap: 4vw;

    a {
      font-size: 3.6vw;
      padding: 2vw 0;
      gap: 1.5vw;

      &::after {
        height: 0.5vw;
      }
    }

    & .linkToPhone {
      font-size: 3.4vw;

      & .iconPhone {
        display: none;
      }
    }
  }

  .iconBlockPhone {
    margin-left: 30vw;
    width: 8vw;
    height: 8vw;
    & .iconPhone {
      width: 4vw;
      height: 4vw;
    }
  }
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-page-b-color-darkGrey);
}

@media (max-width: 1024px) {
  .menuToggle {
    display: block;
    z-index: 1001;

    & .menuIcon {
      width: 3vw;
      height: 3vw;
    }
  }
}

@media (max-width: 576px) {
  .menuToggle {
    display: block;
    z-index: 1001;

    & .menuIcon {
      width: 5vw;
      height: 5vw;
    }
  }
}

.buttonsBlockRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.buttonContactWithMe {
  background: var(--auto-page-orange);
  border: 0;
  font-size: 0.75vw;
  color: white;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-smallStrong);
  line-height: var(--font-lineh-small);
  padding: 0.65vw 1vw;
  border-radius: 0.3vw;
  cursor: pointer;
  transition: 0.3s ease;
  animation: pulse-button-header 2.5s infinite;

  &:hover {
    transform: translateY(-0.1vw);
    box-shadow: 0 0.4vw 1.2vw rgba(255, 169, 41, 0.4);
  }
}

@media (max-width: 1024px) {
  .buttonContactWithMe {
    font-size: 1.8vw;
    padding: 1.5vw 3vw;
    border-radius: 1vw;

    &:hover {
      transform: translateY(0vw);
      box-shadow: 0 0vw 0vw rgba(255, 169, 41, 0.4);
    }
  }
}

@media (max-width: 576px) {
  .buttonContactWithMe {
    display: none;
  }
}

@keyframes pulse-button-header {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 169, 41, 1);
  }

  70% {
    box-shadow: 0 0 0.75vw 0.75vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}
