.calendar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 1.2vw;
  background-color: var(--color-dashboard-background-block);
  border-radius: 1vw;
  margin-top: 2vw;

  & h3 {
    font-size: 0.8vw;
    color: var(--color-white);
    font-family: var(--font-Jakarta);
    line-height: var(--font-lineh-small);
    font-weight: var(--font-weight-bold);
  }
}

.scrollEffect {
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 1vw;
  border-radius: 0.5vw;
  border: 0.1vw solid var(--color-dashboard-border-buttons);
  padding-bottom: 0.25vw;

  &::-webkit-scrollbar {
    height: 0.6vw; /* Ширина всего элемента навигации */
  }

  &::-webkit-scrollbar-track {
    background: #ffffff00; /* Цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    margin-top: 1vw;
    background-color: var(--main-page-b-color-light-lightBlue5);
    border-radius: 1vw; /* Округление бегунка */
    border: 0.1vw solid var(--color-dashboard-background);
  }
}

.calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.corner-cell {
  text-align: center;
  min-width: 5.75vw;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Jakarta);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  background: var(--color-dashboard-background-buttons);
  padding: 0.5vw 0;
  border-bottom: 0.1vw solid #ddd;
}

.corner-cell.rightSection {
  border-left: 0.1vw solid #eee;
}

.time-row {
  display: flex;
  flex: 1;
}

.time-header {
  width: 12vw;
  flex: 1;
  text-align: center;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Jakarta);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  background: var(--color-dashboard-background-buttons);
  padding: 0.5vw 0;
  border-left: 0.1vw solid #ddd;
  border-bottom: 0.1vw solid #ddd;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-row {
  display: flex;
  flex-direction: row;
}

.day-label {
  min-width: 5.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Jakarta);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  padding: 0.5vw 0;
  background: var(--color-dashboard-background-buttons);
  border-bottom: 0.1vw solid #eee;
}

.day-label.rightSection {
  border-left: 0.1vw solid #eee;
}

.row-cells {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Jakarta);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-small);
  border-bottom: 0.1vw solid #eee;
}

.cell {
  flex: 1;
  border-left: 0.1vw solid #eee;
  cursor: pointer;
  text-align: center;
  width: 3vw;
  padding: 0.5vw 0vw;
  user-select: none;
}

.cell.active {
  background-color: var(--color-blue);
  color: var(--main-page-b-color-white);
}

.cell.inactive {
  background: var(--color-dashboard-background-buttons);
}

.save-button {
  padding: 0.7vw 0vw;
  border-radius: 0.5vw;
  font-size: 0.75vw;
  color: var(--color-white);
  font-family: var(--font-Jakarta);
  line-height: var(--font-lineh-small);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-lightGreen);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1vw;
}
