.servicesSection {
  padding: 3vw 0;
  background-color: #f8fafc;
}

@media (max-width: 1024px) {
  .servicesSection {
    padding: 5vw 0;
  }
}

.container {
  max-width: 55vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .title {
    color: #1f2937;
    font-size: 1.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .description {
    width: 70%;
    color: #6b7280;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .header {
    & .title {
      font-size: 3.6vw;
    }

    & .description {
      width: 100%;
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    & .title {
      font-size: 7vw;
    }

    & .description {
      font-size: 3.6vw;
      margin-top: 3vw;
    }
  }
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3vw;
  gap: 1.5vw;
}

@media (max-width: 1024px) {
  .allCards {
    flex-direction: column;
    margin-top: 3vw;
    gap: 2vw;
  }
}

@media (max-width: 576px) {
  .allCards {
    margin-top: 3vw;
    gap: 3vw;
  }
}

.card {
  background: white;
  width: 31.5%;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1);
  padding: 1vw 1vw;

  &:hover {
    box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
  }

  .cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .iconContainer {
      width: 3.5vw;
      height: 3.5vw;
      background: linear-gradient(to right, #3b82f6, #2563eb);
      border-radius: 0.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;

      .card:hover & {
        transform: scale(1.1);
      }

      & .cardIcon {
        width: 1.25vw;
        height: 1.25vw;
        color: white;
      }
    }

    & .cardTitle {
      color: #1f2937;
      font-size: 1vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.75vw;
    }
  }

  .cardContent {
    text-align: center;
    margin-top: 0.5vw;

    & .cardDescription {
      color: #6b7280;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }

    & .price {
      color: #f97316;
      font-size: 1.3vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
    transform: scale(1);
    padding: 3vw 2vw;

    &:hover {
      box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
      transform: scale(1);
    }

    .cardHeader {
      & .iconContainer {
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 1vw;

        .card:hover & {
          transform: scale(1.1);
        }

        & .cardIcon {
          width: 3vw;
          height: 3vw;
        }
      }

      & .cardTitle {
        font-size: 2.5vw;
        margin-top: 2vw;
      }
    }

    .cardContent {
      margin-top: 2vw;

      & .cardDescription {
        font-size: 1.8vw;
      }

      & .price {
        font-size: 3vw;
        margin-top: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    border-radius: 3vw;
    padding: 5vw 2vw;

    .cardHeader {
      & .iconContainer {
        width: 12vw;
        height: 12vw;
        border-radius: 2vw;

        & .cardIcon {
          width: 5vw;
          height: 5vw;
        }
      }

      & .cardTitle {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }

    .cardContent {
      margin-top: 3vw;

      & .cardDescription {
        font-size: 3.6vw;
      }

      & .price {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 3vw;

  & .footerText {
    color: #6b7280;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 3vw;

    & .footerText {
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 5vw;

    & .footerText {
      font-size: 3.6vw;
    }
  }
}

.ctaButton {
  background: none;
  border: 0;
  color: #2563eb;
  font-size: 0.85vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.5vw;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #1e40af;
    text-decoration-color: #1e40af;
  }
}

@media (max-width: 1024px) {
  .ctaButton {
    font-size: 2vw;
    margin-top: 1.5vw;
  }
}

@media (max-width: 576px) {
  .ctaButton {
    font-size: 4vw;
    margin-top: 3vw;
  }
}
