.contact {
  padding: 2vw 0;
  background: linear-gradient(
    135deg,
    var(--main-page-b-color-blue1),
    var(--main-page-b-color-lightBlue2)
  );
  position: relative;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: 0 auto;
  }

  & .contactMainTitle {
    text-align: center;
    font-size: 1.8vw;
    // color: var(--main-page-color-blue);
    color: var(--main-page-b-color-white);
    font-family: var(--font-Inter);
    line-height: var(--font-lineh-normal);
    font-weight: var(--font-weight-bold);
  }

  & .bottomTextDiscountBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.8vw 0;
    background: var(--main-page-b-color-white);
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 11.5%;

    & .bottomTextBlock {
      display: flex;
      padding: 0vw 3vw;
      overflow: hidden;

      & .bottomText {
        text-align: center;
        font-size: 1vw;
        color: var(--auto-page-orange);
        font-family: var(--font-Inter);
        line-height: var(--font-lineh-small);
        font-weight: var(--font-weight-bold);
        background: linear-gradient(45deg, #467dd9, #bd32da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }
    }
  }

  & .contactContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vw;
  }

  & .contactInfo {
    display: flex;
    flex-direction: column;
    width: 27%;
    & h3 {
      font-size: 1vw;
      // color: var(--main-page-color-blue);
      color: var(--main-page-b-color-white);
      font-family: var(--font-Inter);
      line-height: var(--font-lineh-normal);
      font-weight: var(--font-weight-bold);
    }

    & .contactItem {
      // background: var(--main-page-b-color-white);
      background-color: rgba(255, 255, 255, 0.1019607843);
      display: flex;
      flex-direction: row;
      margin-top: 1vw;
      border-radius: 0.5vw;
      padding: 0.75vw;
      gap: 0.75vw;
      // border: 0.1vw solid #e2e8f0;
      transition: 0.3s ease-in-out;

      &:hover {
        // background: #f8fafc;
        background: var(--main-page-color-blue);
        transform: translateY(-0.1vw);
      }

      & .contactIcon {
        width: 1vw;
        height: 1vw;
        // color: var(--main-page-color-lightBlue);
        color: var(--main-page-b-color-white);
        opacity: 0.7;
      }

      & .contactItemTitleMini {
        font-size: 0.65vw;
        // color: var(--main-page-color-darkGrey);
        color: var(--main-page-b-color-white);
        font-family: var(--font-Inter);
        line-height: var(--font-lineh-normal);
        font-weight: var(--font-weight-bold);
        opacity: 0.9;
      }

      & .contactItemTextMini {
        font-size: 0.6vw;
        // color: #64748b;
        color: var(--main-page-b-color-white);
        font-family: var(--font-Inter);
        line-height: var(--font-lineh-normal);
        font-weight: var(--font-weight-regular);
        margin-top: 0.25vw;
        opacity: 0.9;
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    padding: 4vw 0;

    & .container {
      max-width: 80vw;
    }

    & .contactMainTitle {
      font-size: 3vw;
    }

    & .bottomTextDiscountBlock {
      padding: 1.7vw 0;
      top: 9.5%;

      & .bottomTextBlock {
        padding: 0vw 3vw;

        & .bottomText {
          font-size: 2.5vw;
        }
      }
    }

    & .contactContent {
      align-items: center;
      flex-direction: column;
      margin-top: 9.5vw;
    }

    & .contactInfo {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .contact {
    padding: 5vw 0;

    & .container {
      max-width: 87vw;
    }

    & .contactMainTitle {
      font-size: 4.6vw;
    }

    & .bottomTextDiscountBlock {
      padding: 2.5vw 0;
      top: 7%;

      & .bottomTextBlock {
        padding: 0vw 4vw;

        & .bottomText {
          font-size: 4vw;
        }
      }
    }

    & .contactContent {
      flex-direction: column;
      margin-top: 13vw;
    }
  }
}
