.mainBlock {
  display: flex;
  flex-direction: column;
  margin-top: 0.5vw;

  h2 {
    font-size: 1vw;
    color: var(--color-white);
    font-family: var(--font-Jakarta);
    line-height: var(--font-lineh-small);
    font-weight: var(--font-weight-bold);
    padding-left: 1.2vw;
  }

  & .tableUsersMain {
    padding: 1.2vw;
    background-color: var(--color-dashboard-background-block);
    border-radius: 1vw;
    margin-top: 2vw;

    & .tableTitleAndButtonAdd {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & .tableTitleName {
        font-size: 0.8vw;
        color: var(--color-white);
        font-family: var(--font-Jakarta);
        line-height: var(--font-lineh-small);
        font-weight: var(--font-weight-bold);
      }

      & .tableAddButton {
        display: flex;
        align-items: center;
        gap: 0.5vw;
        background-color: var(--color-dashboard-background-buttons);
        border: 0.1vw solid var(--color-dashboard-border-buttons);
        border-radius: 0.5vw;
        padding: 0.55vw 1.1vw;
        font-size: 0.6vw;
        color: var(--color-white);
        font-family: var(--font-Jakarta);
        line-height: var(--font-lineh-small);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        cursor: pointer;

        & .tableAddIcon {
          fill: var(--color-white);
          width: 0.6vw;
          height: 0.6vw;
        }
      }
    }
  }
}
