.testimonialsSection {
  padding: 3vw 0;
  background-color: white;
}

@media (max-width: 1024px) {
  .testimonialsSection {
    padding: 5vw 0;
  }
}

.container {
  max-width: 55vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .title {
    color: #1f2937;
    font-size: 1.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .description {
    width: 70%;
    color: #6b7280;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .header {
    & .title {
      font-size: 3.6vw;
    }

    & .description {
      width: 100%;
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    & .title {
      font-size: 7vw;
    }

    & .description {
      font-size: 3.6vw;
      margin-top: 3vw;
    }
  }
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .allCards {
    flex-direction: column;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .allCards {
    margin-top: 3vw;
  }
}

.card {
  background: white;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 0.1vw 1vw rgba(0, 0, 0, 0.1);
  border: 0.1vw solid rgba(0, 0, 0, 0.2);
  padding: 1.5vw 1.5vw;

  .cardContent {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;

    & .quoteWrapper {
      max-height: 7vw;
      overflow-y: auto;
      padding-right: 1vw;

      &::-webkit-scrollbar {
        width: 0.25vw;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 1vw;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }

    & .quote {
      display: flex;
      color: #6b7280;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-big);
    }

    & .author {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1vw;
      gap: 1vw;

      & .avatar {
        width: 2.75vw;
        height: 2.75vw;
        background: linear-gradient(to right, #3b82f6, #2563eb);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1vw;
      }

      & .authorColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .authorName {
          color: #1f2937;
          font-size: 0.9vw;
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-bold);
          line-height: var(--font-lineh-normal);
        }

        & .authorCar {
          color: #6b7280;
          font-size: 0.75vw;
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-normal);
          line-height: var(--font-lineh-normal);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 90%;
    border-radius: 1vw;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
    transform: scale(1);
    padding: 2vw 3vw;

    &:hover {
      box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
      transform: scale(1);
    }

    .cardContent {
      & .quoteWrapper {
        max-height: 25vw;
        padding-right: 1.5vw;

        &::-webkit-scrollbar {
          width: 0.5vw;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 1vw;
        }
      }

      & .quote {
        font-size: 2vw;
      }

      & .author {
        margin-top: 2vw;
        gap: 2vw;

        & .avatar {
          width: 5vw;
          height: 5vw;
          font-size: 2vw;
        }

        & .authorColumn {
          gap: 0.5vw;
          & .authorName {
            font-size: 2vw;
          }

          & .authorCar {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    display: flex;
    height: auto;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
    border-radius: 3vw;
    padding: 5vw 4vw;

    .cardContent {
      & .quoteWrapper {
        max-height: 40vw;
        padding-right: 2vw;

        &::-webkit-scrollbar {
          width: 1vw;
        }
      }

      & .quote {
        font-size: 3.6vw;
      }

      & .author {
        margin-top: 4vw;
        gap: 3vw;

        & .avatar {
          width: 10vw;
          height: 10vw;
          font-size: 3.6vw;
        }

        & .authorColumn {
          gap: 1vw;
          & .authorName {
            font-size: 3.6vw;
          }

          & .authorCar {
            font-size: 3.6vw;
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 3vw;

  & .guaranteeCard {
    background-color: #f8fafc;
    border-radius: 0.75vw;
    padding: 1.5vw 2vw;
    max-width: 35vw;
    margin: 0 auto;

    & .guaranteeTitle {
      color: #1f2937;
      font-size: 1.4vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
    }

    & .guaranteeText {
      color: #6b7280;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-big);
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 3vw;

    & .guaranteeCard {
      border-radius: 1vw;
      padding: 3vw 5vw;
      max-width: 100%;

      & .guaranteeTitle {
        font-size: 2.5vw;
      }

      & .guaranteeText {
        font-size: 1.8vw;
        margin-top: 1vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 4vw;

    & .guaranteeCard {
      border-radius: 3vw;
      padding: 5vw 5vw;
      max-width: 100%;

      & .guaranteeTitle {
        font-size: 5vw;
      }

      & .guaranteeText {
        font-size: 3.6vw;
        margin-top: 2vw;
      }
    }
  }
}

// === Слайдер ===
.sliderWrapper {
  position: relative;
  margin-top: 3vw;
  // overflow: hidden;
}

.slider {
  height: auto;
  overflow: hidden;
  border-radius: 0.75vw;
}

.sliderTrack {
  display: flex;
  align-items: center;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.sliderItem {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  padding: 0 2vw; // відступи зліва і справа (між карточками при перемиканні)
  box-sizing: border-box;
}

// Кнопки
.sliderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

  &:hover {
    background: white;
    transform: translateY(-50%) scale(1.05);
  }

  & .iconArrow {
    width: 1.5vw;
    height: 1.5vw;
  }

  &:first-of-type {
    left: -2vw;
  }

  &:last-of-type {
    right: -2vw;
  }
}

// Мобілка
@media (max-width: 1024px) {
  .sliderBtn {
    width: 7vw;
    height: 7vw;
    font-size: 4vw;

    &:hover {
      transform: translateY(-50%) scale(1);
    }

    & .iconArrow {
      width: 3vw;
      height: 3vw;
    }

    &:first-of-type {
      left: -1vw;
    }
    &:last-of-type {
      right: -1vw;
    }
  }

  .sliderItem {
    padding: 0 4vw;
  }
}

@media (max-width: 576px) {
  .sliderBtn {
    width: 12vw;
    height: 12vw;

    & .iconArrow {
      width: 5vw;
      height: 5vw;
    }

    &:first-of-type {
      left: -2vw;
    }
    &:last-of-type {
      right: -2vw;
    }
  }

  .sliderItem {
    padding: 0 6vw;
  }
}

// Видаляємо старі стилі .allCards (більше не потрібні)
.allCards {
  display: none; // або просто видали цей блок
}
