.sidebar {
  color: #fff;
  padding: 0 0.8vw;
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dashboard-background-block);
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  z-index: 1200;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 12vw;
  border-radius: 1vw;
  margin: 0.75vw 0;
  margin-left: 0.75vw;

  h3 {
    font-size: 1vw;
    color: var(--color-white);
    font-family: var(--font-Jakarta);
    line-height: var(--font-lineh-small);
    font-weight: var(--font-weight-bold);
    padding: 0 0.75vw;
    padding-bottom: 0.25vw;
  }

  & .lineSidebar {
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1vw 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      rgba(0, 117, 255, 0),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    );
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5vw;

    li {
      & .tableAddButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.5vw;
        background-color: var(--color-dashboard-background-buttons);
        border: 0.1vw solid var(--color-dashboard-border-buttons);
        border-radius: 0.5vw;
        padding: 0.55vw 0;
        font-size: 0.6vw;
        color: var(--color-white);
        font-family: var(--font-Jakarta);
        line-height: var(--font-lineh-small);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 1vw;
      }
    }
  }
}
