.askedQuestionsScreen {
  background: rgba(26, 31, 54, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/images/backgroundBlackAutoFAQSection.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5vw 0;
  padding-bottom: 4vw;
}

@media (max-width: 1024px) {
  .askedQuestionsScreen {
    background-position: center;
    padding: 4vw 0;
    padding-bottom: 4vw;
  }
}

@media (max-width: 576px) {
  .askedQuestionsScreen {
    padding: 6vw 0;
    padding-bottom: 6vw;
  }
}

.container {
  max-width: 85vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 95vw;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90vw;
  }
}

.title {
  text-align: center;
  font-size: 3.4vw;
  color: var(--main-page-b-color-white);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-smallStrong);
  line-height: var(--font-lineh-small2);
}

@media (max-width: 1024px) {
  .title {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 7vw;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 1vw;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .accordion {
    gap: 2vw;
    margin-top: 2vw;
  }
}

@media (max-width: 576px) {
  .accordion {
    gap: 3vw;
    margin-top: 4vw;
  }
}

.accordionItem {
  width: 80%;
  border-radius: 0.5vw;
  border: 0.05vw solid rgba(226, 226, 226, 0.3);
  background: linear-gradient(125deg, rgba(30, 41, 60, 0.1), rgba(23, 26, 44, 0.1));
  box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: 0.2s ease-in-out;
  position: relative;
  backdrop-filter: blur(0px);

  &:hover {
    border-color: var(--main-page-b-color-blue3);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1vw);
    transition: 0.3s;
  }

  .accordionButton {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 0.95vw;
    color: var(--main-page-b-color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small2);
    background: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 1.1vw 2vw;
    border-radius: 0.5vw;
    overflow: hidden;

    & .accordionIcon {
      position: relative;
      z-index: 1;
      width: 1vw;
      height: 1vw;
      color: var(--main-page-b-color-white);
    }

    & span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75vw;

      & .accordionIconAnswer {
        width: 1vw;
        height: 1vw;
        color: var(--main-page-b-color-white);
      }
    }
  }

  .accordionContent {
    max-height: 0;
    overflow: hidden;
    font-size: 0.75vw;
    color: var(--main-page-b-color-white);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-normal);
    padding: 0 2vw;
    transition: 0.3s ease-in-out;

    &.active {
      max-height: 5vw;
      padding-bottom: 1vw;
    }
  }
}

@media (max-width: 1024px) {
  .accordionItem {
    width: 90%;
    border-radius: 1vw;
    border: 0.1vw solid rgba(226, 226, 226, 0.3);
    box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.08);

    &::before {
      backdrop-filter: blur(0vw);
    }

    .accordionButton {
      font-size: 2vw;
      padding: 2vw 2vw;
      border-radius: 1vw;

      & .accordionIcon {
        width: 2vw;
        height: 2vw;
      }

      & span {
        gap: 1.5vw;

        & .accordionIconAnswer {
          width: 2vw;
          height: 2vw;
        }
      }
    }

    .accordionContent {
      font-size: 1.8vw;
      padding: 0 2vw;

      &.active {
        max-height: 20vw;
        padding-bottom: 1.5vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .accordionItem {
    width: 100%;
    border-radius: 1.5vw;

    .accordionButton {
      font-size: 3.8vw;
      padding: 3.2vw 4vw;
      border-radius: 1.5vw;

      & .accordionIcon {
        width: 3vw;
        height: 3vw;
      }

      & span {
        gap: 3vw;

        & .accordionIconAnswer {
          width: 3vw;
          height: 3vw;
        }
      }
    }

    .accordionContent {
      font-size: 3.6vw;
      padding: 0 4vw;
      font-weight: var(--font-weight-regular);

      &.active {
        max-height: 25vw;
        padding-bottom: 3vw;
      }
    }
  }
}
