.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background: url(public/images/body-background.png) 0% 0% / cover;
  backdrop-filter: blur(10vw) brightness(40%);

  .main-content {
    // width: calc(100% - 10vw);
    margin-left: 14vw;
    margin-right: 1.5vw;
    width: 100%;
    margin-top: 0.75vw;

    .content {
      margin: 0 auto;

      h2 {
        font-size: 1.2vw;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: 10px;
          background-color: #fff;
          margin-bottom: 10px;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
