.testimonialsSection {
  padding: 3vw 0;
  background-color: white;
}

@media (max-width: 1024px) {
  .testimonialsSection {
    padding: 5vw 0;
  }
}

.container {
  max-width: 55vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .title {
    color: #1f2937;
    font-size: 1.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .description {
    width: 70%;
    color: #6b7280;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .header {
    & .title {
      font-size: 3.6vw;
    }

    & .description {
      width: 100%;
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3vw;
  gap: 1.5vw;
}

@media (max-width: 1024px) {
  .allCards {
    flex-direction: column;
    margin-top: 3vw;
    gap: 2vw;
  }
}

.card {
  background: white;
  width: 31.5%;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1);
  padding: 1vw 1.5vw;

  &:hover {
    box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
    transform: scale(1.015);
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .quote {
      display: flex;
      color: #6b7280;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-big);
    }

    & .author {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1vw;
      gap: 1vw;

      & .avatar {
        width: 2.75vw;
        height: 2.75vw;
        background: linear-gradient(to right, #3b82f6, #2563eb);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1vw;
      }

      & .authorColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .authorName {
          color: #1f2937;
          font-size: 0.9vw;
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-bold);
          line-height: var(--font-lineh-normal);
        }

        & .authorCar {
          color: #6b7280;
          font-size: 0.75vw;
          font-family: var(--font-Inter);
          font-weight: var(--font-weight-normal);
          line-height: var(--font-lineh-normal);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    border-radius: 1vw;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
    transform: scale(1);
    padding: 2vw 3vw;

    &:hover {
      box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
      transform: scale(1);
    }

    .cardContent {
      & .quote {
        font-size: 2vw;
      }

      & .author {
        margin-top: 2vw;
        gap: 2vw;

        & .avatar {
          width: 5vw;
          height: 5vw;
          font-size: 2vw;
        }

        & .authorColumn {
          gap: 0.5vw;
          & .authorName {
            font-size: 2vw;
          }

          & .authorCar {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 3vw;

  & .guaranteeCard {
    background-color: #f8fafc;
    border-radius: 0.75vw;
    padding: 1.5vw 2vw;
    max-width: 35vw;
    margin: 0 auto;

    & .guaranteeTitle {
      color: #1f2937;
      font-size: 1.4vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
    }

    & .guaranteeText {
      color: #6b7280;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-big);
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 3vw;

    & .guaranteeCard {
      border-radius: 1vw;
      padding: 3vw 5vw;
      max-width: 100%;

      & .guaranteeTitle {
        font-size: 2.5vw;
      }

      & .guaranteeText {
        font-size: 1.8vw;
        margin-top: 1vw;
      }
    }
  }
}
