ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5vw;
  li {
    a {
      display: flex;
      text-decoration: none;
      padding: 0.5vw 0.6vw;
      border-radius: 0.75vw;
      background: transparent;

      &.active {
        background: var(--color-dashboard-background-buttons);
        color: var(--color-white);

        & .pointOnListWithIconBlock {
          & .iconBlock {
            background-color: var(--color-dashboard-background-icon);

            & .icon {
              fill: var(--color-white);
            }
          }
        }
      }

      & .pointOnListWithIconBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6vw;

        & .iconBlock {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.4vw;
          background-color: var(--color-dashboard-background-buttons);
          border-radius: 0.5vw;

          & .icon {
            color: var(--color-white);
            width: 0.65vw;
            height: 0.65vw;
          }
        }

        & .pointText {
          font-size: 0.7vw;
          color: var(--color-white);
          font-family: var(--font-Jakarta);
          line-height: var(--font-lineh-small);
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }
}
